@font-face {
	font-family: 'Roboto-Regular', sans-serif;
	src:  url('../fonts/Roboto-Regular.woff2') format('woff'),
          url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?44itfu');
    src:  url('../fonts/icomoon.eot?44itfu#iefix') format('embedded-opentype'),
          url('../fonts/icomoon.ttf?44itfu') format('truetype'),
          url('../fonts/icomoon.woff?44itfu') format('woff'),
          url('../fonts/icomoon.svg?44itfu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-map-marker:before {
    content: "\f041";
  }
  .icon-chevron-right:before {
    content: "\f054";
  }
  .icon-shopping-cart:before {
    content: "\f07a";
  }
  .icon-location-arrow:before {
    content: "\f124";
  }
  .icon-phone:before {
    content: "\e942";
  }
  .icon-power:before {
    content: "\e9b5";
  }
  